<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subdomain Takeover by Mohamed Haron</title>
	<meta name="propeller" content="74c2bd25247cf95b117363ccdb392e12">

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<meta name="propeller" content="74c2bd25247cf95b117363ccdb392e12">
<div class="container">
	<div class="jumbotron">
		<h1>This page by Mohamed Haron!</h1>
		<h2>This will fix Soon!</h2>
		<script async="async" data-cfasync="false" src="//upgulpinon.com/1?z=4392385"></script>
		<p>This is the sample of Page by <a href="http://www.mohamedharon.com">Mohamed Haron</a></p>
		<a href="https://www.mohamedharon.com" class="btn btn-primary btn-lg">View my blog </a>
		<a href="https://hackerone.com/m7mdharoun" class="btn btn-primary btn-lg">View my HackerOne Profile </a>
	


	</div>
</div>
	
</body>
</html>
